body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: #EEE;
  font-size: 16px;
  font-family: 'EB Garamond', serif;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

mark {
  background-color: #EEE;
  color: black;
}

.image {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}
