/*main.css*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  background-image: url("img/gensokyo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #EFEFEF;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1), 0px 0px 1px #000;
}

h1 {
  font-size: 3em;
  font-weight: bolder;
  margin: .5em 0 .3em 0;
  margin:
}

h2 {
  font-size: 2.25em;
  font-weight: normal;
  margin: .75em 0 .75em 0;
}

footer {
  margin-top: 3em;
  margin-bottom: 1em;
}

footer img {
  transition: opacity 0.2s ease-in-out;
}

footer img:hover {
  opacity: 0.5;
}

.sect {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

div img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  transition: 0.5s;
}

div img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

.cover {
  width: 18%;
}

@media only screen and (max-width: 700px) {
  .cover {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .cover {
    width: 100%;
  }
}
